html{
    font-family: 'Montserrat',sans-serif;
}
body{
    margin: 0px;
    display: flex;
}
.main-block{
    width: 100vw;
    font-weight: 300;
}
    .woods-img{
        height:100vh;
        width: 100vw;
        background-image: url(./images/main.jpeg);
        background-position: 50%;
        background-size: cover;
        background-color: rgb(0,0,0);
    } 
    #nav-bar {
        background: linear-gradient(to right,rgba(0,0, 0, 0.9),rgba(0,0, 0, 0.5),rgba(255,255,255,0.9));
        font-size: 3vh;
        color: white;
        position:absolute;
        top:0%;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #nav-bar p{
        padding-left: 50px;
        font-weight: 500;
    }
    #nav-bar ul {
        padding-right:50px ;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        
    }
        .social {
            text-decoration: none;
            color:white;
            padding-inline: 15px;
            height: 40px;
            width: 40px;
        }  
    .isard{
        background-image: url(./images/chamois.png);
        background-size: cover;
        width: 200px;
        height: 200px;
        position:absolute;
        top: 48vh;
        left:48vw;
        background-color: transparent;
        border: none;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-play-state:running;

    }
        .bounce{
            animation-name: bounce;
            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        }
        @keyframes bounce {
            0%   { transform: scale(1,1)      translateY(0); }
            1%  { transform: scale(1.1,.9)   translateY(0); }
            4%  { transform: scale(.9,1.1)   translateY(-25px); background-image: url(./images/yellow-chamois.png); }
            6%  { transform: scale(1.05,.95) translateY(0); }
            8%  { transform: scale(1,1)      translateY(-7px); }
            10%  { transform: scale(1,1)      translateY(0); }
            11% { transform: scale(1,1)      translateY(0); }
        }
        .isard:hover{
            color: white;
            background-image: url(./images/lightning-chamois.png);
            opacity: 30;
        }
        .isard:active,#isard-trip:active{
            opacity: 0.75;
        }
#magic{
    position: absolute;
    top:85vh;
    left:25vw;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: transparent;
}
#magic:hover{
    background-image: url(./images/magicc.png);
    background-size:cover;
}
#code{
    color:transparent;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 10vh; /* Stay at the top */
    left: 0;
    background-color: rgba(0,0, 0, 0.5); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
#woods-trip{
    animation-duration: 100s;
    animation-name: trippy;
}
@keyframes trippy {
    0% ,100%  { background-image: url('./images/main.jpeg');}
    0.5%  {background-image: url('./images/psico2-100.jpeg');}
}
#isard-trip{
    animation-name: trippisard;
    animation-duration: 10000s;
    background-image: url(./images/chamois.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    position:absolute;
    top: 48vh;
    left:48vw;
    background-color: transparent;
    border: none;
    background-position: center;
}
#name{
    font-size: 20px;
}
.github-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hidden{
    display: none;
}
#github{
    width: 100px;
    height:100px;
}
@keyframes trippisard{
    100% {background-image:url('./images/chamois.png') ;}
    0.5% {background-image: url('./images/isard-trip-tt.png');}
}
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media all and (max-width:700px) {
    .main-block{
        height:100vh;
        width:140vw;
    }
    #woods-img{
        height:100%;
        object-fit:cover;
    }
    #cwoods-img{
        background-size:cover ;
        background-position: 50%;
    }
    #nav-bar {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        background: linear-gradient(to bottom,rgba(0,0, 0, 0.9),rgba(255,255,255,0.4),rgba(255,255,255,0.9));
        
    }
    #nav-bar p{
        padding-left: 0px;
    }  
    .sidenav{
        top: 22.2vh;
    }
    
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media all and (max-width:1900px) {
    .main-block{
        height:100vh;
    }
    #woods-img{
        height:100vh;
        object-fit: cover;
    }
    #cwoods-img{
        background-size: cover;
        background-position: 50%;
    }
}