html{
    font-family: 'Montserrat',sans-serif;
    height: 100vh;
    width: 100vw;

}
body{
    margin: 0px;
    display: flex;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
    .index{
        background-image: url(./images/main.jpeg);
    }

header{
    width:100vw;
    position: absolute;
}
    #nav-bar {
        background: linear-gradient(to right,rgba(0,0, 0, 0.9),rgba(0,0, 0, 0.5),rgba(255,255,255,0.9)) !important;
        color: white;
        position:sticky;
        top:0%;
        align-items: center;
        height:12vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: x-large;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #nav-bar p{
        padding-left: 50px;
        font-weight: 500;
        font-size: 3vh;
        margin-left: 1vw;
        position: relative;
        
    }
    #nav-bar ul {
        padding-right:50px ;
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: relative;
        
        
    }
        .social {
            text-decoration: none;
            color:white;
            padding-inline: 15px;
            height: 40px;
            width: 40px;
        }  
    .openav{
        background-size: cover;
        height: 75px;
        width: 75px;
        position: absolute;
        top:50vh;
        transform: translate(0 -50%);
        left: 10px;
        background: linear-gradient(rgba(135, 211, 255, 1),rgba(38, 49, 55, 0.1)),url('./images/right-light.png');
        border-radius: 20px;
        border: none;
    }
    .openav:hover{
        background-position: center;
        border-radius: 30px;
    }
    .background{
        background-image:url('./images/lake.jpeg');
        background-attachment: fixed;
    }
    .back-it{
        background-attachment: fixed;
    }
    .items{
        top:12vh;
        margin-top: 20px;
        left:50%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .isard{
        background-image: url(./images/chamois.png);
        background-size: cover;
        width: 200px;
        height: 200px;
        position:fixed;
        top: 48vh;
        left:48vw;
        background-color: transparent;
        border: none;
        background-position: center;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-play-state:running;

    }
        .bounce{
            animation-name: bounce;
            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        }
        @keyframes bounce {
            0%   { transform: scale(1,1)      translateY(0); }
            1%  { transform: scale(1.1,.9)   translateY(0); }
            4%  { transform: scale(.9,1.1)   translateY(-25px); background-image: url(./images/yellow-chamois.png); }
            6%  { transform: scale(1.05,.95) translateY(0); }
            8%  { transform: scale(1,1)      translateY(-7px); }
            10%  { transform: scale(1,1)      translateY(0); }
            11% { transform: scale(1,1)      translateY(0); }
        }
        .isard:hover{
            color: white;
            background-image: url(./images/lightning-chamois.png);
            opacity: 30;
        }
        .isard:active,#isard-trip:active{
            opacity: 0.75;
        }
#magic{
    position: fixed;
    top:85vh;
    left:5vw;
    height: 10vh;
    width: 10vw;
    animation-duration: 10s;
    animation-name: glow;
    background-image: url('./images/glow-e3.png'),url('./images/glow.e1.png'),url('./images/glow-e2.png');
    background-size: cover;
    background-position: center;
    animation-iteration-count: infinite;
}

@keyframes glow{
    0%,50%,100%{opacity: 0;}
    30%,70%{opacity:1}
}
    #magic:hover{
        background-image: url('./images/magicc.png'),url('./images/glow-e3.png');
        background-size:cover;
    }



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 12vh; /* Stay at the top */
    left: 0;
    background-color: rgba(0,0, 0, 0.5); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

#woods-trip{
    animation-duration: 100s;
    animation-name: trippy;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@keyframes trippy {
    100%  { background-image: url('./images/main.jpeg');}
    50%  {background-image: url('./images/psico2-100.jpeg');}
}
#isard-trip{
    animation-name: trippisard;
    animation-duration: 100s;
    background-image: url(./images/isard-trip-tt.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    position:fixed;
    top: 48vh;
    left:48vw;
    background-color: transparent;
    border: none;
    background-position: center;
    animation-delay: -2s;
}
@keyframes trippisard{
    0% {background-image:url('./images/chamois.png') ;}
    100% {background-image: url('./images/isard-trip-tt.png');}
}
#name{
    font-size: 20px;
}
.github-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hidden{
    display: none;
}
#github{
    width: 100px;
    height:100px;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/
@media all and (max-width:500px) {
    .main-block{
        height:100vh;
        width:100%;
    }
    #woods-img{
        height:100%;
        object-fit:cover;
    }
    #cwoods-img{
        background-size:cover ;
        background-position: 50%;
    }
    #nav-bar {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        height:15vh;
        background: linear-gradient(to bottom,rgba(0,0, 0, 0.9),rgba(255,255,255,0.4),rgba(255,255,255,0.9));
        
    }
    #nav-bar p{
        padding-left: 0px;
        margin: 0px;
        margin-top: 10px;
    }  
    .sidenav{
        margin-top: 20px;
        top: 15vh;
    }
    #magic{
        width: 100px;
        height:100px;
    }
    
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media all and (max-width:1085px) {
    .main-block{
        height:100vh;
    }
    #woods-img{
        height:100vh;
        object-fit: cover;
    }
    #cwoods-img{
        background-size: cover;
        background-position: 50%;
    }
}
@media all and (min-width:1085px){
    .isard,#isard-trip{
        width: 17%;
        height:25%;
        background-position: center;
    }
}

  .firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
  }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  .firefly::before {
    background: whitesmoke;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
    animation-name: move1;
  }
  .firefly:nth-child(1)::before {
    animation-duration: 12s;
  }
  .firefly:nth-child(1)::after {
    animation-duration: 12s, 6525ms;
    animation-delay: 0ms, 3436ms;
  }
  
  @keyframes move1 {
    0% {
      transform: translateX(-15vw) translateY(-19vh) scale(0.83);
    }
    5.2631578947% {
      transform: translateX(-7vw) translateY(-30vh) scale(0.41);
    }
    10.5263157895% {
      transform: translateX(9vw) translateY(2vh) scale(0.48);
    }
    15.7894736842% {
      transform: translateX(-45vw) translateY(-39vh) scale(0.4);
    }
    21.0526315789% {
      transform: translateX(-24vw) translateY(-23vh) scale(0.74);
    }
    26.3157894737% {
      transform: translateX(-14vw) translateY(-47vh) scale(0.3);
    }
    31.5789473684% {
      transform: translateX(-24vw) translateY(-19vh) scale(0.44);
    }
    36.8421052632% {
      transform: translateX(9vw) translateY(33vh) scale(0.78);
    }
    42.1052631579% {
      transform: translateX(16vw) translateY(-24vh) scale(0.37);
    }
    47.3684210526% {
      transform: translateX(-25vw) translateY(-38vh) scale(0.41);
    }
    52.6315789474% {
      transform: translateX(45vw) translateY(32vh) scale(0.83);
    }
    57.8947368421% {
      transform: translateX(-14vw) translateY(48vh) scale(0.54);
    }
    63.1578947368% {
      transform: translateX(-16vw) translateY(22vh) scale(0.92);
    }
    68.4210526316% {
      transform: translateX(38vw) translateY(44vh) scale(0.67);
    }
    73.6842105263% {
      transform: translateX(-9vw) translateY(-23vh) scale(0.39);
    }
    78.9473684211% {
      transform: translateX(-32vw) translateY(41vh) scale(0.72);
    }
    84.2105263158% {
      transform: translateX(44vw) translateY(-41vh) scale(0.31);
    }
    89.4736842105% {
      transform: translateX(2vw) translateY(15vh) scale(0.92);
    }
    94.7368421053% {
      transform: translateX(-46vw) translateY(-16vh) scale(0.68);
    }
    100% {
      transform: translateX(2vw) translateY(-22vh) scale(0.43);
    }
  }
  .firefly:nth-child(2) {
    animation-name: move2;
  }
  .firefly:nth-child(2)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(2)::after {
    animation-duration: 11s, 10674ms;
    animation-delay: 0ms, 5739ms;
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(27vw) translateY(9vh) scale(0.52);
    }
    5.2631578947% {
      transform: translateX(-2vw) translateY(-14vh) scale(0.61);
    }
    10.5263157895% {
      transform: translateX(-33vw) translateY(23vh) scale(0.76);
    }
    15.7894736842% {
      transform: translateX(-29vw) translateY(10vh) scale(0.89);
    }
    21.0526315789% {
      transform: translateX(-46vw) translateY(19vh) scale(0.73);
    }
    26.3157894737% {
      transform: translateX(47vw) translateY(42vh) scale(0.93);
    }
    31.5789473684% {
      transform: translateX(-25vw) translateY(22vh) scale(0.9);
    }
    36.8421052632% {
      transform: translateX(15vw) translateY(10vh) scale(0.37);
    }
    42.1052631579% {
      transform: translateX(-7vw) translateY(-23vh) scale(0.29);
    }
    47.3684210526% {
      transform: translateX(-3vw) translateY(-23vh) scale(0.47);
    }
    52.6315789474% {
      transform: translateX(16vw) translateY(28vh) scale(0.81);
    }
    57.8947368421% {
      transform: translateX(-43vw) translateY(18vh) scale(0.67);
    }
    63.1578947368% {
      transform: translateX(-25vw) translateY(-25vh) scale(0.4);
    }
    68.4210526316% {
      transform: translateX(-15vw) translateY(-7vh) scale(0.57);
    }
    73.6842105263% {
      transform: translateX(-7vw) translateY(-7vh) scale(0.78);
    }
    78.9473684211% {
      transform: translateX(-31vw) translateY(32vh) scale(0.74);
    }
    84.2105263158% {
      transform: translateX(-15vw) translateY(-19vh) scale(0.76);
    }
    89.4736842105% {
      transform: translateX(39vw) translateY(11vh) scale(0.77);
    }
    94.7368421053% {
      transform: translateX(-6vw) translateY(-10vh) scale(0.94);
    }
    100% {
      transform: translateX(-45vw) translateY(0vh) scale(0.55);
    }
  }
  .firefly:nth-child(3) {
    animation-name: move3;
  }
  .firefly:nth-child(3)::before {
    animation-duration: 10s;
  }
  .firefly:nth-child(3)::after {
    animation-duration: 10s, 9109ms;
    animation-delay: 0ms, 6236ms;
  }
  
  @keyframes move3 {
    0% {
      transform: translateX(23vw) translateY(50vh) scale(0.83);
    }
    3.8461538462% {
      transform: translateX(23vw) translateY(7vh) scale(0.3);
    }
    7.6923076923% {
      transform: translateX(-27vw) translateY(-7vh) scale(0.97);
    }
    11.5384615385% {
      transform: translateX(6vw) translateY(-24vh) scale(0.59);
    }
    15.3846153846% {
      transform: translateX(16vw) translateY(-40vh) scale(0.96);
    }
    19.2307692308% {
      transform: translateX(-28vw) translateY(17vh) scale(0.66);
    }
    23.0769230769% {
      transform: translateX(46vw) translateY(11vh) scale(0.62);
    }
    26.9230769231% {
      transform: translateX(-20vw) translateY(-11vh) scale(0.26);
    }
    30.7692307692% {
      transform: translateX(42vw) translateY(34vh) scale(0.71);
    }
    34.6153846154% {
      transform: translateX(-18vw) translateY(-27vh) scale(0.79);
    }
    38.4615384615% {
      transform: translateX(-22vw) translateY(29vh) scale(0.4);
    }
    42.3076923077% {
      transform: translateX(32vw) translateY(49vh) scale(0.28);
    }
    46.1538461538% {
      transform: translateX(-12vw) translateY(13vh) scale(0.71);
    }
    50% {
      transform: translateX(-48vw) translateY(-26vh) scale(0.35);
    }
    53.8461538462% {
      transform: translateX(-35vw) translateY(29vh) scale(0.7);
    }
    57.6923076923% {
      transform: translateX(-24vw) translateY(-15vh) scale(0.93);
    }
    61.5384615385% {
      transform: translateX(-35vw) translateY(-45vh) scale(0.47);
    }
    65.3846153846% {
      transform: translateX(-9vw) translateY(35vh) scale(0.6);
    }
    69.2307692308% {
      transform: translateX(6vw) translateY(41vh) scale(0.46);
    }
    73.0769230769% {
      transform: translateX(-1vw) translateY(-3vh) scale(0.76);
    }
    76.9230769231% {
      transform: translateX(-18vw) translateY(24vh) scale(0.27);
    }
    80.7692307692% {
      transform: translateX(17vw) translateY(38vh) scale(0.84);
    }
    84.6153846154% {
      transform: translateX(-35vw) translateY(31vh) scale(0.91);
    }
    88.4615384615% {
      transform: translateX(-25vw) translateY(-4vh) scale(0.93);
    }
    92.3076923077% {
      transform: translateX(-39vw) translateY(35vh) scale(0.44);
    }
    96.1538461538% {
      transform: translateX(12vw) translateY(-39vh) scale(0.86);
    }
    100% {
      transform: translateX(45vw) translateY(18vh) scale(0.35);
    }
  }
  .firefly:nth-child(4) {
    animation-name: move4;
  }
  .firefly:nth-child(4)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(4)::after {
    animation-duration: 18s, 6656ms;
    animation-delay: 0ms, 6231ms;
  }
  
  @keyframes move4 {
    0% {
      transform: translateX(-30vw) translateY(-4vh) scale(1);
    }
    3.7037037037% {
      transform: translateX(-21vw) translateY(31vh) scale(0.48);
    }
    7.4074074074% {
      transform: translateX(35vw) translateY(23vh) scale(0.4);
    }
    11.1111111111% {
      transform: translateX(34vw) translateY(30vh) scale(0.47);
    }
    14.8148148148% {
      transform: translateX(12vw) translateY(13vh) scale(0.5);
    }
    18.5185185185% {
      transform: translateX(-13vw) translateY(-44vh) scale(0.96);
    }
    22.2222222222% {
      transform: translateX(-8vw) translateY(19vh) scale(1);
    }
    25.9259259259% {
      transform: translateX(-22vw) translateY(-2vh) scale(0.36);
    }
    29.6296296296% {
      transform: translateX(-45vw) translateY(-24vh) scale(0.92);
    }
    33.3333333333% {
      transform: translateX(-46vw) translateY(39vh) scale(0.56);
    }
    37.037037037% {
      transform: translateX(-36vw) translateY(17vh) scale(0.55);
    }
    40.7407407407% {
      transform: translateX(-13vw) translateY(-37vh) scale(0.83);
    }
    44.4444444444% {
      transform: translateX(-24vw) translateY(-7vh) scale(0.71);
    }
    48.1481481481% {
      transform: translateX(-40vw) translateY(9vh) scale(0.56);
    }
    51.8518518519% {
      transform: translateX(0vw) translateY(-42vh) scale(0.97);
    }
    55.5555555556% {
      transform: translateX(-5vw) translateY(7vh) scale(0.52);
    }
    59.2592592593% {
      transform: translateX(-27vw) translateY(26vh) scale(0.55);
    }
    62.962962963% {
      transform: translateX(-17vw) translateY(-13vh) scale(0.34);
    }
    66.6666666667% {
      transform: translateX(-48vw) translateY(10vh) scale(0.95);
    }
    70.3703703704% {
      transform: translateX(30vw) translateY(-13vh) scale(1);
    }
    74.0740740741% {
      transform: translateX(2vw) translateY(32vh) scale(0.72);
    }
    77.7777777778% {
      transform: translateX(6vw) translateY(-49vh) scale(0.29);
    }
    81.4814814815% {
      transform: translateX(1vw) translateY(-2vh) scale(0.75);
    }
    85.1851851852% {
      transform: translateX(2vw) translateY(24vh) scale(0.26);
    }
    88.8888888889% {
      transform: translateX(23vw) translateY(-3vh) scale(0.7);
    }
    92.5925925926% {
      transform: translateX(39vw) translateY(8vh) scale(0.67);
    }
    96.2962962963% {
      transform: translateX(0vw) translateY(50vh) scale(0.59);
    }
    100% {
      transform: translateX(22vw) translateY(36vh) scale(0.83);
    }
  }
  .firefly:nth-child(5) {
    animation-name: move5;
  }
  .firefly:nth-child(5)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(5)::after {
    animation-duration: 14s, 9488ms;
    animation-delay: 0ms, 5808ms;
  }
  
  @keyframes move5 {
    0% {
      transform: translateX(-21vw) translateY(-30vh) scale(0.85);
    }
    4.1666666667% {
      transform: translateX(18vw) translateY(-9vh) scale(0.85);
    }
    8.3333333333% {
      transform: translateX(16vw) translateY(46vh) scale(0.96);
    }
    12.5% {
      transform: translateX(49vw) translateY(-16vh) scale(0.27);
    }
    16.6666666667% {
      transform: translateX(48vw) translateY(-25vh) scale(0.95);
    }
    20.8333333333% {
      transform: translateX(31vw) translateY(-44vh) scale(0.7);
    }
    25% {
      transform: translateX(-38vw) translateY(-19vh) scale(0.55);
    }
    29.1666666667% {
      transform: translateX(45vw) translateY(1vh) scale(0.78);
    }
    33.3333333333% {
      transform: translateX(30vw) translateY(11vh) scale(0.57);
    }
    37.5% {
      transform: translateX(-18vw) translateY(21vh) scale(0.43);
    }
    41.6666666667% {
      transform: translateX(-7vw) translateY(32vh) scale(0.86);
    }
    45.8333333333% {
      transform: translateX(-21vw) translateY(-16vh) scale(0.58);
    }
    50% {
      transform: translateX(31vw) translateY(2vh) scale(0.75);
    }
    54.1666666667% {
      transform: translateX(-15vw) translateY(-3vh) scale(0.61);
    }
    58.3333333333% {
      transform: translateX(33vw) translateY(-3vh) scale(0.63);
    }
    62.5% {
      transform: translateX(34vw) translateY(-25vh) scale(0.81);
    }
    66.6666666667% {
      transform: translateX(-46vw) translateY(-37vh) scale(0.98);
    }
    70.8333333333% {
      transform: translateX(-37vw) translateY(-30vh) scale(0.98);
    }
    75% {
      transform: translateX(17vw) translateY(35vh) scale(0.29);
    }
    79.1666666667% {
      transform: translateX(8vw) translateY(-43vh) scale(0.34);
    }
    83.3333333333% {
      transform: translateX(9vw) translateY(-47vh) scale(0.57);
    }
    87.5% {
      transform: translateX(-43vw) translateY(-38vh) scale(0.27);
    }
    91.6666666667% {
      transform: translateX(-13vw) translateY(-19vh) scale(0.82);
    }
    95.8333333333% {
      transform: translateX(11vw) translateY(-48vh) scale(0.92);
    }
    100% {
      transform: translateX(34vw) translateY(-41vh) scale(0.57);
    }
  }
  .firefly:nth-child(6) {
    animation-name: move6;
  }
  .firefly:nth-child(6)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(6)::after {
    animation-duration: 18s, 5372ms;
    animation-delay: 0ms, 4311ms;
  }
  
  @keyframes move6 {
    0% {
      transform: translateX(-17vw) translateY(48vh) scale(0.52);
    }
    4.347826087% {
      transform: translateX(27vw) translateY(35vh) scale(0.4);
    }
    8.6956521739% {
      transform: translateX(3vw) translateY(47vh) scale(0.4);
    }
    13.0434782609% {
      transform: translateX(-10vw) translateY(-19vh) scale(0.98);
    }
    17.3913043478% {
      transform: translateX(-45vw) translateY(-29vh) scale(0.92);
    }
    21.7391304348% {
      transform: translateX(45vw) translateY(-3vh) scale(0.99);
    }
    26.0869565217% {
      transform: translateX(34vw) translateY(-13vh) scale(0.82);
    }
    30.4347826087% {
      transform: translateX(-5vw) translateY(43vh) scale(0.79);
    }
    34.7826086957% {
      transform: translateX(-4vw) translateY(-14vh) scale(0.92);
    }
    39.1304347826% {
      transform: translateX(25vw) translateY(11vh) scale(0.97);
    }
    43.4782608696% {
      transform: translateX(12vw) translateY(28vh) scale(0.41);
    }
    47.8260869565% {
      transform: translateX(43vw) translateY(37vh) scale(0.98);
    }
    52.1739130435% {
      transform: translateX(-37vw) translateY(5vh) scale(0.51);
    }
    56.5217391304% {
      transform: translateX(-32vw) translateY(-8vh) scale(0.79);
    }
    60.8695652174% {
      transform: translateX(-3vw) translateY(19vh) scale(0.98);
    }
    65.2173913043% {
      transform: translateX(-48vw) translateY(5vh) scale(0.6);
    }
    69.5652173913% {
      transform: translateX(27vw) translateY(-46vh) scale(0.49);
    }
    73.9130434783% {
      transform: translateX(7vw) translateY(11vh) scale(0.63);
    }
    78.2608695652% {
      transform: translateX(-46vw) translateY(50vh) scale(0.85);
    }
    82.6086956522% {
      transform: translateX(-41vw) translateY(45vh) scale(0.28);
    }
    86.9565217391% {
      transform: translateX(32vw) translateY(8vh) scale(0.77);
    }
    91.3043478261% {
      transform: translateX(11vw) translateY(-11vh) scale(0.54);
    }
    95.652173913% {
      transform: translateX(-25vw) translateY(37vh) scale(0.45);
    }
    100% {
      transform: translateX(-49vw) translateY(-47vh) scale(0.72);
    }
  }
  .firefly:nth-child(7) {
    animation-name: move7;
  }
  .firefly:nth-child(7)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(7)::after {
    animation-duration: 17s, 5189ms;
    animation-delay: 0ms, 1352ms;
  }
  
  @keyframes move7 {
    0% {
      transform: translateX(26vw) translateY(49vh) scale(0.66);
    }
    5.8823529412% {
      transform: translateX(49vw) translateY(-11vh) scale(0.82);
    }
    11.7647058824% {
      transform: translateX(-16vw) translateY(-31vh) scale(0.51);
    }
    17.6470588235% {
      transform: translateX(34vw) translateY(10vh) scale(0.77);
    }
    23.5294117647% {
      transform: translateX(-38vw) translateY(-16vh) scale(0.53);
    }
    29.4117647059% {
      transform: translateX(45vw) translateY(-45vh) scale(0.33);
    }
    35.2941176471% {
      transform: translateX(30vw) translateY(-31vh) scale(0.57);
    }
    41.1764705882% {
      transform: translateX(-27vw) translateY(23vh) scale(0.72);
    }
    47.0588235294% {
      transform: translateX(32vw) translateY(-24vh) scale(0.58);
    }
    52.9411764706% {
      transform: translateX(-48vw) translateY(-6vh) scale(0.63);
    }
    58.8235294118% {
      transform: translateX(-42vw) translateY(-7vh) scale(0.51);
    }
    64.7058823529% {
      transform: translateX(33vw) translateY(47vh) scale(0.36);
    }
    70.5882352941% {
      transform: translateX(-12vw) translateY(33vh) scale(0.37);
    }
    76.4705882353% {
      transform: translateX(14vw) translateY(29vh) scale(0.49);
    }
    82.3529411765% {
      transform: translateX(4vw) translateY(-44vh) scale(0.74);
    }
    88.2352941176% {
      transform: translateX(45vw) translateY(25vh) scale(0.66);
    }
    94.1176470588% {
      transform: translateX(-40vw) translateY(43vh) scale(0.88);
    }
    100% {
      transform: translateX(-2vw) translateY(26vh) scale(0.28);
    }
  }
  .firefly:nth-child(8) {
    animation-name: move8;
  }
  .firefly:nth-child(8)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(8)::after {
    animation-duration: 16s, 6680ms;
    animation-delay: 0ms, 3978ms;
  }
  
  @keyframes move8 {
    0% {
      transform: translateX(-19vw) translateY(41vh) scale(0.27);
    }
    4.5454545455% {
      transform: translateX(-19vw) translateY(29vh) scale(0.5);
    }
    9.0909090909% {
      transform: translateX(-38vw) translateY(-33vh) scale(0.9);
    }
    13.6363636364% {
      transform: translateX(29vw) translateY(-4vh) scale(0.36);
    }
    18.1818181818% {
      transform: translateX(3vw) translateY(-49vh) scale(0.71);
    }
    22.7272727273% {
      transform: translateX(-3vw) translateY(-37vh) scale(0.53);
    }
    27.2727272727% {
      transform: translateX(-25vw) translateY(41vh) scale(0.66);
    }
    31.8181818182% {
      transform: translateX(-26vw) translateY(24vh) scale(0.98);
    }
    36.3636363636% {
      transform: translateX(-11vw) translateY(31vh) scale(0.88);
    }
    40.9090909091% {
      transform: translateX(49vw) translateY(-10vh) scale(0.65);
    }
    45.4545454545% {
      transform: translateX(-1vw) translateY(0vh) scale(0.66);
    }
    50% {
      transform: translateX(-33vw) translateY(-43vh) scale(0.78);
    }
    54.5454545455% {
      transform: translateX(8vw) translateY(24vh) scale(0.95);
    }
    59.0909090909% {
      transform: translateX(10vw) translateY(18vh) scale(0.5);
    }
    63.6363636364% {
      transform: translateX(-9vw) translateY(-42vh) scale(0.38);
    }
    68.1818181818% {
      transform: translateX(34vw) translateY(-18vh) scale(0.4);
    }
    72.7272727273% {
      transform: translateX(12vw) translateY(-6vh) scale(0.64);
    }
    77.2727272727% {
      transform: translateX(45vw) translateY(43vh) scale(0.57);
    }
    81.8181818182% {
      transform: translateX(38vw) translateY(8vh) scale(0.82);
    }
    86.3636363636% {
      transform: translateX(-29vw) translateY(31vh) scale(0.4);
    }
    90.9090909091% {
      transform: translateX(-31vw) translateY(45vh) scale(0.88);
    }
    95.4545454545% {
      transform: translateX(11vw) translateY(22vh) scale(0.94);
    }
    100% {
      transform: translateX(-2vw) translateY(-8vh) scale(0.97);
    }
  }
  .firefly:nth-child(9) {
    animation-name: move9;
  }
  .firefly:nth-child(9)::before {
    animation-duration: 10s;
  }
  .firefly:nth-child(9)::after {
    animation-duration: 10s, 9047ms;
    animation-delay: 0ms, 6592ms;
  }
  
  @keyframes move9 {
    0% {
      transform: translateX(-23vw) translateY(50vh) scale(0.5);
    }
    4.5454545455% {
      transform: translateX(-29vw) translateY(3vh) scale(0.5);
    }
    9.0909090909% {
      transform: translateX(-20vw) translateY(-28vh) scale(0.33);
    }
    13.6363636364% {
      transform: translateX(31vw) translateY(22vh) scale(0.98);
    }
    18.1818181818% {
      transform: translateX(38vw) translateY(-17vh) scale(0.68);
    }
    22.7272727273% {
      transform: translateX(-42vw) translateY(15vh) scale(0.76);
    }
    27.2727272727% {
      transform: translateX(29vw) translateY(15vh) scale(0.55);
    }
    31.8181818182% {
      transform: translateX(-49vw) translateY(13vh) scale(0.46);
    }
    36.3636363636% {
      transform: translateX(-47vw) translateY(9vh) scale(0.68);
    }
    40.9090909091% {
      transform: translateX(20vw) translateY(-20vh) scale(0.95);
    }
    45.4545454545% {
      transform: translateX(39vw) translateY(-32vh) scale(0.83);
    }
    50% {
      transform: translateX(-33vw) translateY(-36vh) scale(0.38);
    }
    54.5454545455% {
      transform: translateX(-1vw) translateY(1vh) scale(0.83);
    }
    59.0909090909% {
      transform: translateX(-23vw) translateY(-22vh) scale(0.31);
    }
    63.6363636364% {
      transform: translateX(-20vw) translateY(-30vh) scale(0.46);
    }
    68.1818181818% {
      transform: translateX(-35vw) translateY(4vh) scale(0.9);
    }
    72.7272727273% {
      transform: translateX(39vw) translateY(-25vh) scale(0.96);
    }
    77.2727272727% {
      transform: translateX(50vw) translateY(18vh) scale(0.4);
    }
    81.8181818182% {
      transform: translateX(24vw) translateY(4vh) scale(0.36);
    }
    86.3636363636% {
      transform: translateX(39vw) translateY(-16vh) scale(0.86);
    }
    90.9090909091% {
      transform: translateX(-34vw) translateY(-13vh) scale(0.44);
    }
    95.4545454545% {
      transform: translateX(32vw) translateY(33vh) scale(0.8);
    }
    100% {
      transform: translateX(-49vw) translateY(-21vh) scale(0.79);
    }
  }
  .firefly:nth-child(10) {
    animation-name: move10;
  }
  .firefly:nth-child(10)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(10)::after {
    animation-duration: 17s, 6420ms;
    animation-delay: 0ms, 3974ms;
  }
  
  @keyframes move10 {
    0% {
      transform: translateX(-12vw) translateY(-28vh) scale(0.41);
    }
    3.8461538462% {
      transform: translateX(-14vw) translateY(-41vh) scale(0.87);
    }
    7.6923076923% {
      transform: translateX(-44vw) translateY(10vh) scale(0.75);
    }
    11.5384615385% {
      transform: translateX(-23vw) translateY(30vh) scale(0.32);
    }
    15.3846153846% {
      transform: translateX(42vw) translateY(-11vh) scale(0.84);
    }
    19.2307692308% {
      transform: translateX(39vw) translateY(-16vh) scale(0.8);
    }
    23.0769230769% {
      transform: translateX(-47vw) translateY(47vh) scale(1);
    }
    26.9230769231% {
      transform: translateX(-42vw) translateY(-21vh) scale(0.98);
    }
    30.7692307692% {
      transform: translateX(-8vw) translateY(-5vh) scale(1);
    }
    34.6153846154% {
      transform: translateX(-33vw) translateY(-46vh) scale(0.29);
    }
    38.4615384615% {
      transform: translateX(-28vw) translateY(23vh) scale(0.79);
    }
    42.3076923077% {
      transform: translateX(30vw) translateY(50vh) scale(0.81);
    }
    46.1538461538% {
      transform: translateX(37vw) translateY(-40vh) scale(0.76);
    }
    50% {
      transform: translateX(-46vw) translateY(-15vh) scale(0.35);
    }
    53.8461538462% {
      transform: translateX(40vw) translateY(45vh) scale(0.6);
    }
    57.6923076923% {
      transform: translateX(-1vw) translateY(-8vh) scale(0.41);
    }
    61.5384615385% {
      transform: translateX(1vw) translateY(-1vh) scale(0.36);
    }
    65.3846153846% {
      transform: translateX(-16vw) translateY(44vh) scale(0.9);
    }
    69.2307692308% {
      transform: translateX(37vw) translateY(-28vh) scale(0.89);
    }
    73.0769230769% {
      transform: translateX(0vw) translateY(-38vh) scale(0.55);
    }
    76.9230769231% {
      transform: translateX(4vw) translateY(-21vh) scale(0.62);
    }
    80.7692307692% {
      transform: translateX(-5vw) translateY(-49vh) scale(0.94);
    }
    84.6153846154% {
      transform: translateX(8vw) translateY(24vh) scale(0.68);
    }
    88.4615384615% {
      transform: translateX(13vw) translateY(32vh) scale(0.65);
    }
    92.3076923077% {
      transform: translateX(-8vw) translateY(45vh) scale(0.38);
    }
    96.1538461538% {
      transform: translateX(41vw) translateY(-33vh) scale(0.57);
    }
    100% {
      transform: translateX(19vw) translateY(29vh) scale(0.53);
    }
  }
  .firefly:nth-child(11) {
    animation-name: move11;
  }
  .firefly:nth-child(11)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(11)::after {
    animation-duration: 13s, 6751ms;
    animation-delay: 0ms, 6740ms;
  }
  
  @keyframes move11 {
    0% {
      transform: translateX(15vw) translateY(7vh) scale(0.76);
    }
    3.8461538462% {
      transform: translateX(25vw) translateY(25vh) scale(0.75);
    }
    7.6923076923% {
      transform: translateX(-41vw) translateY(37vh) scale(0.48);
    }
    11.5384615385% {
      transform: translateX(-19vw) translateY(14vh) scale(0.53);
    }
    15.3846153846% {
      transform: translateX(-7vw) translateY(46vh) scale(1);
    }
    19.2307692308% {
      transform: translateX(-27vw) translateY(-44vh) scale(0.56);
    }
    23.0769230769% {
      transform: translateX(40vw) translateY(-31vh) scale(0.72);
    }
    26.9230769231% {
      transform: translateX(49vw) translateY(-32vh) scale(0.32);
    }
    30.7692307692% {
      transform: translateX(18vw) translateY(-20vh) scale(0.95);
    }
    34.6153846154% {
      transform: translateX(-11vw) translateY(2vh) scale(0.36);
    }
    38.4615384615% {
      transform: translateX(-23vw) translateY(-24vh) scale(0.6);
    }
    42.3076923077% {
      transform: translateX(11vw) translateY(50vh) scale(0.87);
    }
    46.1538461538% {
      transform: translateX(39vw) translateY(-18vh) scale(0.81);
    }
    50% {
      transform: translateX(-11vw) translateY(48vh) scale(0.34);
    }
    53.8461538462% {
      transform: translateX(48vw) translateY(-48vh) scale(0.92);
    }
    57.6923076923% {
      transform: translateX(-22vw) translateY(-21vh) scale(0.61);
    }
    61.5384615385% {
      transform: translateX(-28vw) translateY(2vh) scale(0.77);
    }
    65.3846153846% {
      transform: translateX(-25vw) translateY(-16vh) scale(0.93);
    }
    69.2307692308% {
      transform: translateX(45vw) translateY(-11vh) scale(0.78);
    }
    73.0769230769% {
      transform: translateX(-44vw) translateY(13vh) scale(0.54);
    }
    76.9230769231% {
      transform: translateX(9vw) translateY(-5vh) scale(0.79);
    }
    80.7692307692% {
      transform: translateX(23vw) translateY(-20vh) scale(0.57);
    }
    84.6153846154% {
      transform: translateX(35vw) translateY(-25vh) scale(0.3);
    }
    88.4615384615% {
      transform: translateX(28vw) translateY(27vh) scale(0.41);
    }
    92.3076923077% {
      transform: translateX(-7vw) translateY(35vh) scale(0.73);
    }
    96.1538461538% {
      transform: translateX(25vw) translateY(-13vh) scale(0.53);
    }
    100% {
      transform: translateX(33vw) translateY(-15vh) scale(0.74);
    }
  }
  .firefly:nth-child(12) {
    animation-name: move12;
  }
  .firefly:nth-child(12)::before {
    animation-duration: 12s;
  }
  .firefly:nth-child(12)::after {
    animation-duration: 12s, 10839ms;
    animation-delay: 0ms, 4969ms;
  }
  
  @keyframes move12 {
    0% {
      transform: translateX(39vw) translateY(49vh) scale(0.28);
    }
    4.347826087% {
      transform: translateX(48vw) translateY(-28vh) scale(0.82);
    }
    8.6956521739% {
      transform: translateX(3vw) translateY(40vh) scale(0.39);
    }
    13.0434782609% {
      transform: translateX(-41vw) translateY(-23vh) scale(0.51);
    }
    17.3913043478% {
      transform: translateX(21vw) translateY(-5vh) scale(0.83);
    }
    21.7391304348% {
      transform: translateX(3vw) translateY(49vh) scale(0.87);
    }
    26.0869565217% {
      transform: translateX(46vw) translateY(-14vh) scale(0.95);
    }
    30.4347826087% {
      transform: translateX(-20vw) translateY(-41vh) scale(0.3);
    }
    34.7826086957% {
      transform: translateX(38vw) translateY(-44vh) scale(0.84);
    }
    39.1304347826% {
      transform: translateX(15vw) translateY(-24vh) scale(0.72);
    }
    43.4782608696% {
      transform: translateX(12vw) translateY(-23vh) scale(0.53);
    }
    47.8260869565% {
      transform: translateX(50vw) translateY(-6vh) scale(0.32);
    }
    52.1739130435% {
      transform: translateX(-42vw) translateY(7vh) scale(0.41);
    }
    56.5217391304% {
      transform: translateX(-40vw) translateY(-40vh) scale(0.71);
    }
    60.8695652174% {
      transform: translateX(43vw) translateY(-20vh) scale(0.34);
    }
    65.2173913043% {
      transform: translateX(-42vw) translateY(36vh) scale(0.85);
    }
    69.5652173913% {
      transform: translateX(-46vw) translateY(-4vh) scale(0.96);
    }
    73.9130434783% {
      transform: translateX(49vw) translateY(39vh) scale(0.85);
    }
    78.2608695652% {
      transform: translateX(8vw) translateY(-49vh) scale(0.87);
    }
    82.6086956522% {
      transform: translateX(-40vw) translateY(12vh) scale(0.68);
    }
    86.9565217391% {
      transform: translateX(35vw) translateY(46vh) scale(0.35);
    }
    91.3043478261% {
      transform: translateX(38vw) translateY(-41vh) scale(0.41);
    }
    95.652173913% {
      transform: translateX(-46vw) translateY(9vh) scale(0.81);
    }
    100% {
      transform: translateX(16vw) translateY(0vh) scale(0.72);
    }
  }
  .firefly:nth-child(13) {
    animation-name: move13;
  }
  .firefly:nth-child(13)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(13)::after {
    animation-duration: 15s, 8506ms;
    animation-delay: 0ms, 5258ms;
  }
  
  @keyframes move13 {
    0% {
      transform: translateX(24vw) translateY(9vh) scale(0.66);
    }
    5.5555555556% {
      transform: translateX(37vw) translateY(49vh) scale(0.47);
    }
    11.1111111111% {
      transform: translateX(45vw) translateY(9vh) scale(0.99);
    }
    16.6666666667% {
      transform: translateX(3vw) translateY(45vh) scale(0.57);
    }
    22.2222222222% {
      transform: translateX(27vw) translateY(-30vh) scale(0.65);
    }
    27.7777777778% {
      transform: translateX(43vw) translateY(-27vh) scale(0.37);
    }
    33.3333333333% {
      transform: translateX(-18vw) translateY(-45vh) scale(0.82);
    }
    38.8888888889% {
      transform: translateX(-29vw) translateY(-48vh) scale(0.73);
    }
    44.4444444444% {
      transform: translateX(29vw) translateY(44vh) scale(0.78);
    }
    50% {
      transform: translateX(12vw) translateY(19vh) scale(0.65);
    }
    55.5555555556% {
      transform: translateX(-33vw) translateY(-38vh) scale(0.5);
    }
    61.1111111111% {
      transform: translateX(-39vw) translateY(-34vh) scale(0.49);
    }
    66.6666666667% {
      transform: translateX(39vw) translateY(49vh) scale(0.8);
    }
    72.2222222222% {
      transform: translateX(35vw) translateY(3vh) scale(0.51);
    }
    77.7777777778% {
      transform: translateX(-36vw) translateY(-2vh) scale(0.89);
    }
    83.3333333333% {
      transform: translateX(47vw) translateY(46vh) scale(0.63);
    }
    88.8888888889% {
      transform: translateX(-13vw) translateY(-38vh) scale(0.89);
    }
    94.4444444444% {
      transform: translateX(-32vw) translateY(-24vh) scale(0.44);
    }
    100% {
      transform: translateX(-21vw) translateY(45vh) scale(0.61);
    }
  }
  .firefly:nth-child(14) {
    animation-name: move14;
  }
  .firefly:nth-child(14)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(14)::after {
    animation-duration: 15s, 7165ms;
    animation-delay: 0ms, 3356ms;
  }
  
  @keyframes move14 {
    0% {
      transform: translateX(22vw) translateY(42vh) scale(0.3);
    }
    4.1666666667% {
      transform: translateX(43vw) translateY(30vh) scale(0.71);
    }
    8.3333333333% {
      transform: translateX(-5vw) translateY(-38vh) scale(0.68);
    }
    12.5% {
      transform: translateX(44vw) translateY(0vh) scale(0.88);
    }
    16.6666666667% {
      transform: translateX(-24vw) translateY(20vh) scale(0.82);
    }
    20.8333333333% {
      transform: translateX(-40vw) translateY(17vh) scale(0.47);
    }
    25% {
      transform: translateX(-42vw) translateY(-9vh) scale(0.39);
    }
    29.1666666667% {
      transform: translateX(-15vw) translateY(20vh) scale(0.36);
    }
    33.3333333333% {
      transform: translateX(8vw) translateY(29vh) scale(0.84);
    }
    37.5% {
      transform: translateX(-23vw) translateY(-20vh) scale(0.45);
    }
    41.6666666667% {
      transform: translateX(30vw) translateY(-14vh) scale(0.97);
    }
    45.8333333333% {
      transform: translateX(-44vw) translateY(32vh) scale(0.44);
    }
    50% {
      transform: translateX(-34vw) translateY(37vh) scale(0.43);
    }
    54.1666666667% {
      transform: translateX(-30vw) translateY(-29vh) scale(0.8);
    }
    58.3333333333% {
      transform: translateX(-13vw) translateY(-26vh) scale(0.98);
    }
    62.5% {
      transform: translateX(-12vw) translateY(14vh) scale(0.93);
    }
    66.6666666667% {
      transform: translateX(-28vw) translateY(-23vh) scale(0.77);
    }
    70.8333333333% {
      transform: translateX(-16vw) translateY(-21vh) scale(0.79);
    }
    75% {
      transform: translateX(32vw) translateY(7vh) scale(0.66);
    }
    79.1666666667% {
      transform: translateX(-21vw) translateY(41vh) scale(0.64);
    }
    83.3333333333% {
      transform: translateX(45vw) translateY(-24vh) scale(0.48);
    }
    87.5% {
      transform: translateX(-43vw) translateY(18vh) scale(0.78);
    }
    91.6666666667% {
      transform: translateX(28vw) translateY(-19vh) scale(0.89);
    }
    95.8333333333% {
      transform: translateX(1vw) translateY(-5vh) scale(0.67);
    }
    100% {
      transform: translateX(39vw) translateY(34vh) scale(0.28);
    }
  }
  .firefly:nth-child(15) {
    animation-name: move15;
  }
  .firefly:nth-child(15)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(15)::after {
    animation-duration: 18s, 10829ms;
    animation-delay: 0ms, 4068ms;
  }
  
  @keyframes move15 {
    0% {
      transform: translateX(45vw) translateY(15vh) scale(0.65);
    }
    4.7619047619% {
      transform: translateX(33vw) translateY(13vh) scale(0.6);
    }
    9.5238095238% {
      transform: translateX(43vw) translateY(-25vh) scale(0.37);
    }
    14.2857142857% {
      transform: translateX(-46vw) translateY(12vh) scale(0.41);
    }
    19.0476190476% {
      transform: translateX(29vw) translateY(-6vh) scale(0.7);
    }
    23.8095238095% {
      transform: translateX(-36vw) translateY(-1vh) scale(0.48);
    }
    28.5714285714% {
      transform: translateX(-29vw) translateY(3vh) scale(0.82);
    }
    33.3333333333% {
      transform: translateX(16vw) translateY(-23vh) scale(0.91);
    }
    38.0952380952% {
      transform: translateX(47vw) translateY(13vh) scale(0.91);
    }
    42.8571428571% {
      transform: translateX(-40vw) translateY(13vh) scale(0.26);
    }
    47.619047619% {
      transform: translateX(-5vw) translateY(27vh) scale(0.27);
    }
    52.380952381% {
      transform: translateX(-3vw) translateY(-11vh) scale(0.61);
    }
    57.1428571429% {
      transform: translateX(14vw) translateY(-15vh) scale(0.3);
    }
    61.9047619048% {
      transform: translateX(-45vw) translateY(-32vh) scale(0.74);
    }
    66.6666666667% {
      transform: translateX(48vw) translateY(42vh) scale(0.94);
    }
    71.4285714286% {
      transform: translateX(-36vw) translateY(21vh) scale(0.33);
    }
    76.1904761905% {
      transform: translateX(40vw) translateY(-43vh) scale(0.87);
    }
    80.9523809524% {
      transform: translateX(-48vw) translateY(36vh) scale(0.7);
    }
    85.7142857143% {
      transform: translateX(-16vw) translateY(-29vh) scale(0.88);
    }
    90.4761904762% {
      transform: translateX(-27vw) translateY(49vh) scale(0.94);
    }
    95.2380952381% {
      transform: translateX(-8vw) translateY(21vh) scale(0.37);
    }
    100% {
      transform: translateX(-46vw) translateY(-35vh) scale(0.68);
    }
  }
  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }